<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <title>Title</title>
</head>
<body>
<form action="/edit_students?sid={{ sid }}" method="post">
    {% csrf_token %}
    <p>ID <input type="text" name="sid" value="{{ sid }}" readonly></p>
    <p>姓名 <input type="text" name="name" value="{{ old_name }}"></p>
    <p>年龄 <input type="text" name="age" value="{{ old_age }}"></p>
    <p>
        {% if old_gender.0.gender == 'male' %}
            男<input type="radio" name="gender" value="male" checked>
            女<input type="radio" name="gender" value="female">
        {% elif old_gender.0.gender == 'female' %}
            男<input type="radio" name="gender" value="male" >
            女<input type="radio" name="gender" value="female" checked>
        {% endif %}
    </p>
    <p>班级
        <select name="cid">
            {% for row in cls_list %}
                {% if old_class.0.id == row.id %}
                    <option value="{{ row.id }}" selected>{{ row.title }}</option>
                {% else %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p><input type="submit"></p>
</form>
</body>
</html>